@import "tailwindcss";

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-01.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vonny';
  src: url('/fonts/Vonny-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-display: "Vonny", sans-serif;
  --color-kushmint: #71DFBC
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #EDF2F5;
  /* Light gray background */
}